/* Global Styles */

@mixin color-transition($attribute) {
  webkit-transition: $attribute 0.5s;
  transition: $attribute 0.5s;
}

html, body {
  margin: 0;
  padding: 0;  
  background-color: $white;
  font-family: "Futura Book", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  font-size: 10px;
}
.page-wrapper {
  height: 100%;
}

canvas {
  // width: 100% !important;
 max-width: 768px;
  height: auto !important;
}


// h1 strong {
//     font-size: 12px;
// }
// html,
// body {
//   font-family: "Futura Book", Helvetica, Arial, sans-serif;
//   background-color: $white;
//   margin: 0;
// }

// a {
//   color: $link-default;
//   webkit-transition: color 0.5s;
//   transition: color 0.5s;
//   text-decoration: none;
//   &:hover {
//     color: $link-default-hover;
//     webkit-transition: color 0.5s;
//     transition: color 0.5s;
//     text-decoration: none;
//   }
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin: 0;
//   padding: 0;
// }

// hr {
//   margin: 15px 0;
//   &.dotted {
//     border-top: 2px dashed $border-default;
//   }
// }
